# Ansible theforeman external inventory script settings
#

[theforeman]
host = forman.domain.tld
username = username
password = password
cacert = /path/to/ssl/cacert (optional)
cert = /path/to/ssl/cert (optional)
key = /path/to/ssl/key (optional)
